body{
    font-family: sans-serif;
    
}
::-webkit-scrollbar{
    background: gray;
    width: .5rem;
}
::-webkit-scrollbar-thumb{
    background-color: rgb(56, 56, 56);
}
main{
    display: flex;
    justify-content: center;
    min-height: 100vh;
}
.stoper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    background: #222;
    width: 25rem;
    min-height: 15rem;
    color: white;
    padding: .5rem;
    border-radius: .5rem;
    margin: auto;
    border: 2px solid rgb(130, 132, 238);
}
.stoper-time{
    font-size: 2.5rem;
    text-align: center;
}
.stoper-archive{
    height: 5rem;
    overflow-y: scroll;
    border: 2px solid rgb(163, 89, 89);
    padding: 0rem 2rem;
}
.stoper--btn-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
}
.stoper--btn-container button{
    width: 8rem;
    background: rgb(112, 107, 170);
    outline: none;
    color: white;
    cursor: pointer;
    border: 3px solid transparent;
    border-radius: .5rem;
    padding: .75rem;
    font-size: 1rem;
    transition: .3s all;
}
.stoper--btn-container button:hover{
    border: 3px solid rgb(171, 130, 238);
    transform: scale(1.05);
}
